# Dependências
node_modules

# Build de produção
dist

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos locais
.env
.env.local
.env.development.local
.env.production.local

# VS Code
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db
